@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Oswald');

.modal-content{
	background-color: #C4C4C4;

}

.modal-backdrop
{
    opacity:0 !important;
}

.modal-content{
	border-radius: 0px !important;
	margin-top: 130px;
    padding: 0px 15px;

}

.modal-title{
	font-family: 'Oswald';
	font-weight: Bold;
	font-size: 24px;
	line-height:  36px;
	text-align: center;
	color:	#000000;
}

.modal-body {
    margin-bottom: 15px;
}
.modal-dialog {
    max-width: 400px;
}

.form-control {
    margin: 10px 0px;
    padding-left: 20px;
}

div.hr-or {
  margin: 15px 3px;
  border: 0;
  border-top: 1px solid #8A7F7F;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

div.hr-or:before {
  content: 'или';
  background-color: #C4C4C4;
  padding: 3px;
  color: #615B5B;
  font-size: 16px;
  text-align: center;

 }

 .modal-btn{
 	background-color: #272D2D;
	border-radius: 0px !important;

 }
input {width:100%}

#google {
    text-align: center;
}